body {
    margin: 0;
    font-family: 'Roboto';
    background-image: url(img/pxfuel.jpg);
    background-size: cover;
}
section{
    width: 100%;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    height: 90px;
    width: 100%;
    background-color:rgba(215, 224, 221);
    border-bottom: solid;
    border-width: 1px;
    border-color: #5015bd;

    z-index: 1;
}
 header button{
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}
.logo img{
    height: 200px;
    width: 200px;
    padding-top: 25px;
}
.links{
    display: flex;
    justify-content: space-evenly;
    padding-right: 20px;
}
.links nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    margin: 15px;
    color: #5015bd;
    
}
.links nav a:hover, .links a:focus{
    color: #e0daf7;
}

@keyframes menu-in {
    0%{clip-path: ellipse(60% 60% at 0% 50%);}
    100%{clip-path: ellipse(120% 120% at 0% 50%);}
}
@keyframes appear {
    0%{opacity: 0; translate: -100px 0;}
    100%{ opacity: 1;}
}

.banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 40px;
    width: 100%;
}
@media (width <= 620px) {
    .banner{
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
    }

}

.banner h2{
    font-weight: 400;
    white-space: nowrap;
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 60px;
    color:#5015bd;
}
.banner h3{
    font-weight: 300;
    margin: 0;
    color:#5015bd;
    margin-left: 40px;
} 
.banner img{
    width:500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    animation: appear 1.5s ease-out;   
   
}
.sobre-mi{
    width: 100%;
    display: flex;
    background-color:rgba(215, 224, 221, 0.4);
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-around;
}
.sobre-mi-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.sobre-mi h2{
    font-weight: 400;
    white-space: nowrap;
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 60px;
    color:#5015bd;
}
.sobre-mi p{
    color: black;
    margin: 40px;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
}
.sobre-mi button{
    background-color:#5015bd;
    border-radius: 20px;
    border-style: none;
    padding: 10px 15px;
    margin-bottom: 50px;
}
.sobre-mi a{
    text-decoration: none;
    font-weight: 600;
    color:#e0daf7;
}
.certificados{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(215, 224, 221, 0.4);
    width: 100%;
}
.certificados h2{
    font-weight: 400;
    white-space: nowrap;
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 60px;
    color:#5015bd;
}
.certificados img{
    height: 300px;
    width: 450px;
    margin: 20px;
}
.certificados div{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hidden{
    transform:translateX(-200px);
    opacity: 0;
    transition: all 1.2s ease-out;
}
.mostrar{
    transform: translateX(0px);
    opacity: 1;
}
.servicios{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgba(215, 224, 221, 0.4);
    width: 100%;
}
.servicios h2{
    margin-top: 100px;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 60px;
    color:#5015bd;
}
.servicio-art{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 50px;
}
.articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 80%;
    margin: 20px;
}
.articulo h3{
    margin-top: 40px;
    color: #5015bd;
    font-weight: 400;
    font-size: 30px;
}

.articulo-p{
    color: black;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
}
.articulo-p{
    height: 100%;
    overflow:hidden;
}
footer{
    border-top: solid;
    border-color: #5015bd;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    height: 8vh;
    margin-top: 100px;
    padding-top:20px ;
    background-color: rgba(233, 229, 229, 0.8);
    color: black;
}
.foot{
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 90%;
    margin-left: 40px;
    font-size: 14px;
}
.foot img{
    height: 90%;
    margin-right: 40px;
}
.terminos{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

@media (width <= 720px) {
    body{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    .logo img{
        height: 150px;
        width: 150px;
        padding-left:50px ;
        padding-top: 15px;
    }
    .banner{
        text-align: center;
        flex-direction: column-reverse;
        align-items: center;
        padding-bottom: 0;
        height: 100vh;
    }
    .banner h2{
        margin: 50px 0 0 0;
        font-size: 30px;
        
    }
    .banner h3 {
        font-size: 18px;
        margin: 0;
    }
    .banner img{
        height: 300px;
        width: 300px;
    }
    .servicios{
        width: 100%;
        height: 100%;
    }
    .servicios h2{
        font-size: 30px;
        margin-left: 0;
    }
    .servicio-art{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .articulo{
        width: 80%;
    }
    .articulo h3{
        font-size: 25px;
    }
    .articulo-p{
        font-size: 16px;
    }
    .certificados h2{
        font-size: 30px;
        margin-left: 0;
    }
    .certificados img{
        height: 200px;
        width: 300px;
        margin: 20px;
    }
    .sobre-mi{
        height: 100%;
        width: 100%;
    }
    .sobre-mi h2{
        font-size: 30px;
        margin-left: 0;
    }
    .sobre-mi p{
        font-size: 16px;
    }
    .foot{
        font-size: 9px;
    }
    .terminos{
        font-size: 9px;
    }
    header{
        height: 100px;
        justify-content: center;
        align-items: center;
    }
    .logo{
        width: 100px;

    }
    .burger{
        z-index: 9;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 44px;
        height: 44px;
        padding-left: 15px;
        padding-top: 15px;
        margin-left: 25px;
        margin-top: 25px;
        gap: 5px;
    }
    .burger span{
        height: 1.5px;
        width: 30px;
        background-color: #5015bd;
        transition: transform 0.375s;
    }
    .burger,.menu{
        position: fixed;
    }
    .menu{
        z-index: 8;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        translate: -100% 0;
        transition: translate 0.6s ease-out;
        background-color: rgb(224, 218, 247, 0.9);
    }
    .menu nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body.open .menu{
        opacity: 1;
        visibility: visible;
        translate: 0;
        animation: menu-in 0.375s;
    }
    body.open .menu nav{
        opacity: 1;
    }
    
    body.open .burger span:nth-child(1){
        position: absolute;
        transform: rotate(135deg);
    }
    body.open .burger span:nth-child(2){
        opacity: 0;
    }
    body.open .burger span:nth-child(3){
        position: absolute;
        transform: rotate(225deg);
    }
    body.open .menu a{
        animation: appear 0.25s backwards;
    }
    }
    
