body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url(img/pxfuel.jpg);
    background-size: cover;
}
section{
    width: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 90px;
    width: 100%;
    background-color:rgba(215, 224, 221, 0.95);

    z-index: 9999;
}
button{
    border: 0;
    padding: 0;
    background: transparent;
    cursor: pointer;
}
.logo img{
    height: 300px;
    width: 300px;
}
.links{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.links nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    margin: 15px;
    color: #5015bd;
    
}
.links nav a:hover, .links a:focus{
    color: #e0daf7;
}

@keyframes menu-in {
    0%{clip-path: ellipse(60% 60% at 0% 50%);}
    100%{clip-path: ellipse(120% 120% at 0% 50%);}
}
@keyframes appear {
    0%{opacity: 0; translate: -100px 0;}
    100%{ opacity: 1;}
}


@media (width <= 720px) {
    section{
        padding: 30px 10%;
    }
}
.banner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 40vw;
    margin-bottom: 40px;
}
@media (width <= 620px) {
    .banner{
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
    }
}

.banner h2{
    font-weight: 400;
    white-space: nowrap;
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 60px;
    color:#5015bd;
}
.banner h3{
    font-weight: 300;
    margin: 0;
    color:#5015bd;
    margin-left: 40px;
} 
.banner img{
    width:500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    animation: appear 1.5s ease-out;   
   
}
.sobre-mi{
    height: 70vh;
    width: 100%;
    display: flex;
    background-color:rgba(215, 224, 221, 0.4);
    margin-top: 100px;
    justify-content: center;
}
.sobre-mi-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.sobre-mi h2{
    font-weight: 400;
    white-space: nowrap;
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 60px;
    color:#5015bd;
}
.sobre-mi p{
    color: black;
    margin: 40px;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
}
.sobre-mi a{
    text-decoration: none;
    color: green;
}
.certificados{
    margin-top:100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(215, 224, 221, 0.4);
}
.certificados h2{
    font-weight: 400;
    white-space: nowrap;
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 60px;
    color:#5015bd;
}
.certificados img{
    height: 300px;
    width: 450px;
    margin: 20px;
}
.certificados div{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hidden{
    transform:translateX(-200px);
    opacity: 0;
    transition: all 1.2s ease-out;
}
.mostrar{
    transform: translateX(0px);
    opacity: 1;
}
.servicios{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:rgba(215, 224, 221, 0.4);
}
.servicios h2{
    margin-top: 100px;
    font-weight: 400;
    white-space: nowrap;
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 60px;
    color:#5015bd;
}
.servicio-art{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 50px;
}
.articulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 80%;
    margin: 20px;
}
.articulo h3{
    margin-top: 40px;
    color: #5015bd;
    font-weight: 600;
    font-size: 25px;
}

.articulo-p{
    color: black;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
}
.articulo-p{
    height: 100%;
    overflow:hidden;
}